<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Hotel</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" type="text/css" href="app.component.scss">
</head>
<body>
<div id="iniciar_sesion">
  <div class="nombreusu">
 <label>Username:</label>  
  <input type="text" class="nombre_usuario">
</div>
<div>
  <label>Password:</label>
  <input type="password"  class="password_usuario">
</div>
<button class="Logear">Login</button>
<button class="Resgistrarse">register</button>
</div>
</body>
</html>
